<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/style_index.css') }}"
  </head>
  <body>
    <h2 align="center">Замена видео</h2>
    <form method="post" action="handle-change" id="patologies">
      <table class="valueList">
        <tr><th>Сердце</th></tr>
        <tr>
            <td>Межреберье</td>
            <td>
                <select id="3" name="3">
                  <option>{{ chosen["3"] }}</option>
                    {% for option in values["cor"] %}
                      {% if option != chosen["3"] %}
                        <option>{{ option }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
          <td>Субкостальная</td>
          <td>
            <select id="4" name="4">
              <option>{{ chosen["4"] }}</option>
                {% for option in values["cor"] %}
                  {% if option != chosen["4"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Верхушка</td>
          <td>
            <select id="6" name="6">
              <option>{{ chosen["6"] }}</option>
                {% for option in values["cor"] %}
                  {% if option != chosen["6"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr><th>Легкие</th></tr>
        <tr>
          <td>Правое, верхушка</td>
          <td>
            <select id="1" name="1">
              <option>{{ chosen["1"] }}</option>
                {% for option in values["pulm"] %}
                  {% if option != chosen["1"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Левое, верхушка</td>
          <td>
            <select id="2" name="2">
              <option>{{ chosen["2"] }}</option>
                {% for option in values["pulm"] %}
                  {% if option != chosen["2"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Правое, основание</td>
          <td>
            <select id="5" name="5">
              <option>{{ chosen["5"] }}</option>
                {% for option in values["pulm"] %}
                  {% if option != chosen["5"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Левое, основание</td>
          <td>
            <select id="7" name="7">
              <option>{{ chosen["7"] }}</option>
                {% for option in values["pulm"] %}
                  {% if option != chosen["7"] %}
                    <option>{{ option }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <div class="btn">
        <input type="submit" value="Поменять" id="change_button" for="patologies">
      </div>
    </form>
  </body>
</html>
