<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/style_index.css') }}"
  </head>
  <body>
    <h2 align="center">Замена видео</h2>
    <form method="post" action="handle-change">
      <table class="valueList">
        {% for part in values %}
          <tr>
              <td><b>Метка 1</b> ({{ part }}):</td>
              <td>
                  <select id="value" name="value">
                    <option>{{ chosen[part] }}</option>
                      {% for option in values[part] %}
                        {% if option != chosen[part] %}
                          <option>{{ option }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
              </td>
          </tr>
        {% endfor %}
      </table>
      <div class="btn">
        <input type="submit" value="Поменять" id="change_button">
      </div>
    </form>
  </body>
</html>
